@model IEnumerable<WebSecurity_Day03.ViewModels.RoleVM>

@{
    ViewData["Title"] = "Detail";
}

<h3>@ViewBag.UserName</h3>

<p>
    @Html.ActionLink("Assign Roles", "Create",
    new { userName = @ViewBag.UserName })
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    @ViewBag.FirstName
                </td>
                <td>
                    @ViewBag.LastName
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-area="" class="nav-link text-dark" asp-controller="UserRole" asp-action="Index">Back to Users</a>
